:root {
    --primary-color: #42A5F5;
    --primary-color-hover: #4285F4;
    --secondary-color: #66BB6A;
    --secondary-color-hover: #3BAB59;
    --danger-color: #EF5350;
    --danger-color-hover: #EA4A3C;
}
